/* Animatable properties */
@property --focus-size {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 100%;
}

#effect-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;

    background:
            radial-gradient(circle,
                transparent var(--focus-size),
                rgba(0, 0, 0, 0.75) calc(var(--focus-size) + 20%),
                #000 105%);
    transition: --focus-size 2s ease;
}
