html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background: #111;
    text-align: center;
}
p {
    padding: 0%;
    margin: 0.2em;
}

#story-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    pointer-events: none;
    height:auto;
    padding-bottom: 7.5%;
}

.story-node {
    margin-bottom: 1.5rem;
    position: relative;
    color: inherit;
}
.story-part {
    position: relative;
    color: inherit;
}
.story-line {
    opacity: 0;
    transition: opacity 0.4s ease;
    margin-bottom: 0.3rem;
    color: inherit;
}

.story-choices {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 0.5rem;
    position: relative;
    z-index: 1;
}

.story-choice {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-align: center;transition: opacity 0.4s ease;
}

.story-choice.redo {
    background: #0a84ff;
    color: white;
    pointer-events: auto;
    cursor: pointer;
}

/* currently selectable events */
.story-choice.active {
    opacity: 1;
}
/* past events we followed */
.story-choice.selected {
    opacity: 0.6;
}

/* past events we did not */
.story-choice.unselected {
    opacity: 0.2;
}

.story-choice:hover {
    background: rgba(255, 255, 255, 0.15);
}

.part {
    /* --pov-color: lightcoral; */
    border-radius: 1em;
    padding: 1em;
}

.story-pov {
    border-radius: 1em;
    border-width: 2px;
    border-style: solid;
    border-color: #111;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.pov-name {
    /* background-color: rgba(255, 255, 255, 0.25); */
    width: fit-content;
    border-radius: 0.25em;
    padding: 0 0.25em 0 0.25em;
    margin: auto;
}

/* message bubbles */

.messages {
    display: flex;
    flex-direction: column;
    color: inherit;
}
.message {
    padding: 0.5em 0.75em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 1.5em;
    max-width: 70%;
    display: inline-block;
    position: relative;
    margin-bottom: 1em;
    color: inherit;
}
.message.left {
    align-self: flex-end;
    text-align: right;
}
.message.right {
    align-self: flex-start;
    text-align: left;
}
.message.merge-top {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-top: 0em;
}
.message.merge-bottom {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    margin-bottom: 0.15em;
}
.message-author {
    margin: 0em 3em 0.15em 3em;
}
.message-author.left {
    align-self: flex-end;
    text-align: right;
}
.message-author.right {
    align-self: flex-start;
    text-align: left;
}
.message-title {
    margin-top: 1em;
    color: #111;
    font-weight: bold;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: #eee;
}


.message.unsent {
    padding-bottom: 1.5em;
}
.message.unsent::after {
    content: ". . .";
    position: absolute;
    bottom: 0.3em;
    right: 1%;
    transform: translateX(-50%);
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    animation: typingWave 1s infinite linear;
}
@keyframes typingWave {
    0%,
    20%,
    100% {
        transform: translateX(-50%) translateY(0);
    }
    10% {
        transform: translateX(-50%) translateY(-0.2em);
    }
    30% {
        transform: translateX(-50%) translateY(-0.1em);
    }
    50% {
        transform: translateX(-50%) translateY(-0.15em);
    }
    70% {
        transform: translateX(-50%) translateY(-0.1em);
    }
    90% {
        transform: translateX(-50%) translateY(-0.2em);
    }
}
